<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("navbar"); -%>
    <main>
      <h1 class="title"><%= title %></h1>
      <h2 class="sub-title">Welcome to <%= title %></h2>

      <ul class="msg-list">
        <% messages.forEach(function(msg){ %>
        <li>
          <div class="msg-author-wrapper">
            <p><%=msg.user %></p>
            <p>
              <%= (function(){return (msg.added.getMonth() + 1) + "/" +
              msg.added.getDate() + "/" + msg.added.getFullYear()})() -%>
            </p>
          </div>
          <p class="msg"><%=msg.text %></p>
        </li>
        <% }) %>
      </ul>
    </main>

    <%- include("footer"); -%>
  </body>
</html>
